// WEBSITE ROUNDNESS
$border-radius: 0.9rem;

// SPACING SYSTEM
$xsmall: 0.8rem;
$small: 1.6rem;
$medium: 3.2rem;
$large: 4.8rem;
$xlarge: 6.4rem;

// -------------
// BREAKPOINTS
// -------------

// 362px
$bp-xsmall: 22.6em;

// 400px
$bp-small: 25em;

// 550px
$bp-medium: 34.4em;

// 600px
$bp-large: 37.5em;
