@use "../abstracts" as *;

.footer {
  @include container;

  h2 {
    margin: 0 0 $small $medium;
  }

  &__link-list {
    margin-left: $large;

    .list-item {
      margin-bottom: $small;
    }
  }

  @media (max-width: $bp-small) {
    h2 {
      margin: 0 0 $small $small;
    }

    &__link-list {
      margin-left: $medium;
    }
  }
}
